.wrapper{
    width: 300px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    z-index: 9;
    text-align: center;    
}
form input{
    width: 92%;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #e4e4e4;
    outline: none;
    /* z-index: 999; */
    border: 1px solid #fff;
    /* margin: 1rem; */
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(17, 107, 143);
    width: 70%;
}
select{
width: 92%;
 padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #e4e4e4;
    outline: none;
    border: 1px solid #fff;
}

.wrapper.active{
    display: none;
}
#open{
/* position: sticky; */
    color: white;
    width: 10%;
}
#close{
    width: 20%;
    text-align: center;
}

.wrapper::backdrop{
    background: rgb(0 0 0 / .4);
}